// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

// src/css/quasar.variables.scss

$primary: #b02e0c;
$secondary: #e5625e;
$accent: #1b998b;

$dark: #2a2b2a;
$dark-page: #212121;

$positive: #1b998b;
$negative: #c10015;
$info: #31ccec;
$warning: #ffd45e;
